.box1 {
    border: 2px dotted red;
    width: 600px;
    height: 300px;
    overflow: hidden;
}

.box2 {
    margin-top: 10px;
    border: 2px dotted red;
    width: 600px;
    height: 300px;
    overflow: scroll;
}

.box3 {
    margin-top: 10px;
    border: 2px dotted red;
    width: 600px;
    height: 300px;
    overflow: auto;
}

.box4 {
    border: 2px dotted red;
    width: 300px;
}

.paragraph {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box5 {
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    transition: 2s all;
}

.box5:hover {
    background-color: blue;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}